@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Bree+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-de-fundo: #004aad;
    --cor-do-cartao: #ffffff;
    --cor-texto-footer: #ffffff;
    --cor-fundo-footer: #000000;
    --cor-titulo: #000000;
    --cor-texto-cartao: #000000;
    --cor-botao-primario: #ffffff;
    --cor-botao-secundario: #000000;
    --destaque: red;
}

body {
    background-color: var(--cor-de-fundo);
}

footer {
    background-color: var(--cor-fundo-footer);
    color: var(--cor-texto-footer);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#container {
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
}

.conteudo-cartao {
    background-color: var(--cor-do-cartao);
}

.cartao {
    margin: 1rem;
    flex-grow: 1;
    flex-basis: calc(50% - 5rem);
}

.conteudo-cartao h3{
    border: 1px solid var(--destaque);
    position: absolute;
    padding: 0.5rem;
    margin: 0.6rem;
    backface-visibility: hidden;
    border-radius: 0.6rem;
}

.conteudo-cartao p{
    margin-top: 1rem;
}

.cartao.active .conteudo-cartao {
    transform: rotateY('180deg');
}