@import url('https://fonts.googleapis.com/css2family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2family=Arimo:ital,wght@0,400..700;1,400..700&family=Bree+Serif&display=swap');


* {
    margin: 0;
}


:root {
    --cor-de-fundo: #004aad;
    --cor-do-cartao-frente: #ffffff;
    --cor-do-cartao-verso: black;
    --cor-texto-footer: #ffffff;
    --cor-fundo-footer: #000000;
    --cor-titulo: #000000;
    --cor-texto-cartao: #000000;
    --cor-botao-primario: #ffffff;
    --cor-botao-secundario: #000000;
    --destaque: black;

}

body {
    background-color: var(--cor-de-fundo);
}

#container {
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
}

.conteudo-cartao {
    background-color: var(--cor-do-cartao-frente);
    border: 4px solid var(--destaque);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
    font-family: "Bree", sans-serif;
    font-weight: 700;
    border-radius: 10px;

}

.cartao {
    margin: 1rem;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.conteudo-cartao h3{
    border: 4px solid var(--destaque);
    text-align: left;
    position: absolute;
    padding: 0.5rem;
    margin: 0.6rem;
    backface-visibility: hidden;
    border-radius: 0.5rem;
}

.conteudo-cartao p{
    margin-top: 1rem;
    padding: 2rem;
    margin-top: 4rem;
    font-size: 1.4vw;
}

.resposta-cartao p {
    color: white;
    font-weight: 700;
}

.cartao.active .conteudo-cartao {
    transform: rotateY(180deg);
}

.pergunta-cartao, 
.resposta-cartao {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.resposta-cartao {
    transform: rotateY(180deg);
    background-color: var(--cor-do-cartao-verso);
    border: 4px solid white;
    border-radius: 10px;

}




footer {
    background-color: var(--cor-fundo-footer);
    color: var(--cor-texto-footer);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    font-family: "Arimo", sans-serif;
}

